
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" align="right">
				<a class="brand" href="<%= root_path %>">
					 DareAngels
				</a>		
			<div class="nav-collapse">
			<ul class="nav" id="mainnav">
				<li class="active"><%= link_to 'Dares', dare_index_path %>
				<li ><%= link_to 'About', root_path %>				
			</ul>
			<%if user_signed_in?%>
			<%= current_user.email %>
			<a class="btn btn-large btn-danger" href="<%= destroy_user_session_path %>">
				Sign out
				</a>
			<%else%>
			<a class="btn btn-medium btn-primary" href="<%= new_user_registration_path %>">
				Sign up
				</a>	
			<a class="btn btn-medium btn-primary" href="<%= new_user_session_path %>">
				Sign in
				</a>
			<%end%>
		</div>
		</div> <!-- /container -->

	</div> <!-- /navbar-inner -->

</div> <!-- /navbar -->
</br></br></br></br>

<div class="container" >
<h1>Dares</h1>
<table class="table" border="1">
<% @user.dares.each do |dare| %>  
<%if @a.count>3 
	@a = []; %>
<tr>
<%else
@a << 1;
end%>
	<td  width="25%" style="height:400px;">
	<div class="flowplayer" style="max-height:200px;">
	   <video src="<%= dare.attached_video.url%>" ></video>
	</div>
	<%= link_to 'SHOW', "/dare/#{dare.id}",:method => "GET", class: "btn btn-danger btn-small"%>
	<%= dare.id %>
	<%= dare.title %>
	<%= dare.description %>
	</td>
	<%if @b.count>3 
		@b = []; %>
	</tr>
	<%else
	@b << 1;
	end%>
  
<% end %>
</tr>
</table>
	
 </div>
<%= link_to 'Create a Dare', new_dare_path , class: "btn btn-large"%>
<h1> Submits </h1>
<table class="table" border="1">
  <tr>
	<th>video</th>
	
  
  </tr>

<% @user.submits.each do |submit| %>
  <tr>
	<td><div class="flowplayer" >
	   <video src="<%= submit.attached_video.url%>"></video>
	</div></td>

  </tr>
<% end %>
</table>

