
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" align="right">
				<a class="brand" href="<%= root_path %>">
					 DareAngels
				</a>		
			<div class="nav-collapse">
			<ul class="nav" id="mainnav">
				<li class="active"><%= link_to 'Dares', dare_index_path %>
				<li ><%= link_to 'About', root_path %>				
			</ul>
			<%if user_signed_in?%>
			<%= current_user.email %>
			<a class="btn btn-large btn-danger" href="<%= destroy_user_session_path %>">
				Sign out
				</a>
			<%else%>
			<a class="btn btn-medium btn-primary" href="<%= new_user_registration_path %>">
				Sign up
				</a>	
			<a class="btn btn-medium btn-primary" href="<%= new_user_session_path %>">
				Sign in
				</a>
			<%end%>
		</div>
		</div> <!-- /container -->

	</div> <!-- /navbar-inner -->

</div> <!-- /navbar -->
</br></br></br></br>

<div class="container" >
<h1>Dares</h1>
<div class="row-fluid">	
	<%@c=1%>
<% @user.dares.each do |dare| %>  
	<%if @c==0%>
	<ul class="thumbnails">
	<%end%>
	<%@c=@c+1%>

	<li class="span4">
		<a href="/dare/<%= dare.id %>">
		<div class="thumbnail" style="height:500px;">
			<img src="http://placehold.it/300x200">
			<div class="caption">
				<h3><%= dare.title %></h3>
				<p><%= dare.description %></p>	
				</a>
	</li>
	<%if @c>3%>
	<%@c=0%>
	</ul>
	<%end%>
<% end %>
	
 </div>
<%= link_to 'Create a Dare', new_dare_path , class: "btn btn-large"%>
<h1> Submits </h1>
<div class="row-fluid">	
	<%@c=1%>
<% @user.submits.each do |submit| %>  
	<%if @c==0%>
	<ul class="thumbnails">
	<%end%>
	<%@c=@c+1%>

	<li class="span4">
		<a href="/dare/<%= submit.id %>">
		<div class="thumbnail" style="height:500px;">
			<img src="http://placehold.it/300x200">
			<div class="caption">
				</a>
	</li>
	<%if @c>3%>
	<%@c=0%>
	</ul>
	<%end%>
<% end %>

