<h1><%= @dare.title %></h1>
<h2><%= @dare.description %></h2>
<div class="flowplayer" style="width: 624px; height: 260px; ">
   <video src="<%= @dare.attached_video.url%>"></video>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=541254549234637";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>
  $(document).ready(function() {
    $("#progressbar").progressbar({ value: 37 });
	$("#progressbar2").progressbar({ value: 80 });
  });
  </script>

<div id="progressbar" style="width: 500px; height: 26px; "></div>
<h3>3 Days Left!</h3>

<div id="progressbar2" style="width: 500px; height: 26px; "></div>
<h3>$250.00 Pledged</h3>

<div class="fb-comments" data-href="http://guarded-taiga-2271.herokuapp.com/dare/<%= @dare.id %>" data-num-posts="10" data-width="470"></div>

<%= link_to 'Submit video!', "/submit/new?id=#{ @dare.id}",:method => "GET", class: "btn btn-danger btn-small"%>
<h1>Submits</h1>
<% @all_submits.each do |submit| %>
<div class="flowplayer" style="width: 624px; height: 260px; ">
	   <video src="<%= submit.attached_video.url%>"></video>
	</div>
	

<% end %>